.heading {
  text-align: center;
}

input[type="text"] {
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 4px 6px;
  width: 100%;
  box-sizing: border-box;
}

.book-list {
  border: 3px solid black;
  margin-bottom: 10px;
}

.book-list div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2px 5px;
}

.book-list div:nth-child(odd) {
  background-color: rgba(200, 200, 200, 0.4);
}

button {
  all: unset;
  border: 3px solid black;
  padding: 4px 12px;
}

form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
}

button.btn {
  display: flex;
  align-self: flex-end;
  width: 40px;
}


nav.main-nav{
  outline:1px solid black;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:2px 30px;
  box-sizing:border-box;
}

.main-links {
  display:flex;
  flex-direction:row;
  padding:2px 10px;
  box-sizing: border-box;
}

.main-links li {
  list-style: none;
  padding: 0 20px;
}

.main-links li .middle {
  border-left:1px solid black;
  border-right:1px solid black;
  padding: 0  20px;

}

.main-links li a{
  text-decoration: none;
  color:black;
}

