.heading {
  text-align: center;
}

input[type="text"] {
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 4px 6px;
  width: 100%;
  box-sizing: border-box;
}

.book-list {
  border: 3px solid black;
  margin-bottom: 10px;
}

.book-list div:nth-child(odd) {
  background-color: rgba(200, 200, 200, 0.4);
}

.book-list div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2px 5px;
}

button {
  all: unset;
  border: 3px solid black;
  padding: 4px 12px;
}
form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;

  /* align-items: center; */
}

button.btn {
  display: flex;
  align-self: flex-end;
  width: 40px;
}
